*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.maincake{
  /* margin: 1rem; */
  /* margin-top: -800px; */
}
.cakepics img{
  height: 100px;
  width: 100px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

/* .maincake {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
} */
.maincake {
  height: 723px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}
.CakeDetail{
 text-align: left;
  /* background-color: aqua; */
  width: 50%;
  height: 20%;
 
}
.CakeDetail h1{
  font-size: 1.5rem;
  font: bold;
}
.sp1{
  margin-left: 0.5rem;
  color: rgb(92, 84, 84);
}
.sp2{
  color: green;
  margin-left: 1rem
}
.place{
  display: flex;
  
}

.deltime{
  justify-content: space-evenly;
  display: flex;
  height: 75px;
  width: 70%;
  border: solid 1px ;
  border-radius: 1.5rem;
  text-align: center;
}
.deltime button{
 font-size: 1rem;
 height: fit-content;
  border: solid 1px rgb(122, 108, 108) ;
  border-radius: 0.5rem ;
  margin: 0.8rem;

  width: 85px;
}
.deltime button span{
  color: green;
}
.deltime button:hover{
  background-color: rgb(202, 174, 174);
  transition: all 0.8s;
  color: rgb(19, 19, 18);
}
#time{
  font-size: 1rem;
padding: 10px 50px;
  border: solid 1px rgb(122, 108, 108) ;
  border-radius: 0.5rem ;
  margin: 0.8rem;


}
.salebtn{
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.ulm{
  display: flex;
  justify-content: space-evenly;
}
.ulm{
  margin: 1.5rem;
}
.Review{
  margin-top: 2rem;

}
.reviewcard{
  display: flex;
}
.card{
  height: 150px;
  margin: 0.5rem;
  width: 35%;
 
}
.card img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px;
}
.togimg{
  height: 500px;
  width: 300px;
  margin: 1rem;
}
label img{
  height: 100px;
  width: 100px;
}
label{
  height: 113px;
}
.slid img{
  height: 250px;
  width: 50rem;
  margin: 1rem;

}
.slid{
  overflow-x: scroll;
  display: flex;

}
.appch{
  display: flex;
  margin: 5rem;
  justify-content: space-evenly;
  }
  @media only screen and (max-width: 1025px){
    .maincake {
      height: 500px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
  }
    .cakepics{
      display: flex;
      justify-content: space-evenly;
    }
    .cakepics img{
      margin: 0.5rem;
    }
    .appch{
      display: block;
      margin: 5rem;
      /* justify-content: space-evenly; */
      }
     
      .togimg {
        height: 311px;
        width: 300px;
        margin: 1rem;
    }
    .deltime {
      justify-content: space-evenly;
      display: flex;
      height: 80px;
      width: 236%;
      margin-left: -3rem;
      border: solid 1px;
      border-radius: 1.5rem;
      text-align: center;
  }
  .place {
    display: flex;
    width: 200%;
    justify-content: space-evenly;
}
.salebtn {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  margin-left: 8rem;
}
.salebtn button{
  margin: 0.5rem;
 
}
.discrip{
  width: 200%;
}
.Review {
  margin-top: 2rem;
  width: 222%;
}
  }